{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <form action="">
        <input type="text" placeholder="Titre musique">
        <select name="" id="">
            {% for ampli in amplis %}
                <option value="{{ ampli.id }}">
                    {{ ampli.fullname }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Rechercher</button>
    </form>

{% endblock %}
