{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div class="page-wrapper">
        <header>

            <img src="../assets/images/logo.svg" alt="logo" class="logo" title="superbe logo n'est-ce pas ?">
        </header>
    <main>
        <header role="banner">
            <h1>Les Amplificateurs</h1>
            <h2>Sélectionnez votre type d'amplicateur ici</h2>

            <label for="site-search">Trouver la musique :</label>
            <input type="search" id="site-search" name="q"
                   aria-label="Search through site content">
            <button>Rechercher</button>

            <label for="site-search">Trouver votre ampli :</label>
            <input type="search" id="site-search" name="q"
                   aria-label="Search through site content">
            <button class="search">Rechercher</button>

            <div class="typesamplis">
                <a href="{{ path('product') }}" class="button">Lancer la recherche</a>
            </div>

        </header>


    </main>
    </div>

{% endblock %}
