style.css

Type
Style Sheet
Size
3 KB (2,681 bytes)
Storage used
0 bytesOwned by
Location
Product Page Concept
Owner
Codegrid
Modified
Mar 6, 2019 by Codegrid
Opened
10:34 AM by me
Created
Mar 6, 2019
No description
Viewers can download
html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
}

.container {
      width: 100%;
      height: 100vh;
      margin: 0;
      padding: 0;
      background: url("../images/back_1.png");
      background-size: cover;

}




body {
      margin: 0;
      padding: 0;
      overflow: hidden;
}

.items {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      user-select: none;
}

.items .item {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      overflow: hidden;
      transition: all 300ms ease-in-out;
      z-index: -1;
      opacity: 0;
}

.item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
}

.item.active {
      opacity: 1;
      z-index: 99;
      box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.title-ampli {
      list-style: none;
      display: flex;
      justify-content: center;
      position: absolute;
      width:100%;
      font-family: Poppins;
      color: black;
}

a.link-list {
      cursor: pointer;
}

.title-album {

      margin: 0;
      text-align: center;
      padding: 60px;
      width: 100%;
      height: 100vh;


      list-style: none;
      font-size: 30px;
      background-color: rgba(228, 233, 237, 0.8);

}


.item.prev {
      z-index: 2;
      opacity: 0.25;
      transform: translate(-125%, -50%);
}

.item.next {
      z-index: 2;
      opacity: 0.25;
      transform: translate(25%, -50%);
}

.items .button-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 275px;
      z-index: 100;
}

.button-container .button {
      color: #fff;
      font-size: 32px;
      cursor: pointer;
      position: relative;
      opacity: 0.75;
      transition: all 300ms ease-in-out;
}

.button-container .button:hover {
      opacity: 1;
}

.button-container .button:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      background-color: rgba(0, 0, 0, 1);
      border-radius: 50%;
      z-index: -99;
}

.button-container .button:nth-child(1) {
      float: left;
}

.button-container .button:nth-child(2) {
      float: right;
}





.left, .right {
      position: absolute;
      height: 100%;
      width: 50%;
}

.left {
      background: #ffffff;
}

.right {
      left: 50%;
      background: #e0e0e0;
}

header {
      width: 100%;
      display: flex;
}

.logo {
      width: 30%;
      margin: 0 auto;
}





.watch, .cart {
      line-height: 80px;
      position: absolute;
      padding: 10px;
      right: 0;
}

.logo {
      padding: 10px 80px 10px 60px;
}

.next {
      left: 280px;
}

.watch {
      right: 220px;
      font-family: helvetica;
      color: grey;
      font-weight: lighter;
      text-transform: uppercase;
}

.cart {
      right: 70px;
}

.right-sidebar {
      right: 80px;
      position: absolute;
      top: 45%;
      transform: translateY(-50%);
      text-align: right;
}

.right-sidebar ul {
      list-style: none;
}

.title {
      font-size: 36px;
      font-family: "Playfail Display";
      padding-bottom: 40px;
}

.right-sidebar li:not(:first-child) {
      padding: 6px 0;
}

.product {
      position: absolute;;
      top: 50%;
      left: 65%;
      transform: translate(-50%, -50%);
      animation: fly 4s ease-in-out infinite;
}

@keyframes fly {
      0% {
            transform: translate(-50%, -46%);
      }

      50% {
            transform: translate(-50%, -54%);
      }

      100% {
            transform: translate(-50%, -46%);
      }
}

.left-bottom {
      position: absolute;
      left: 60px;
      bottom: 40px;
      font-family: helvetica;
      letter-spacing: 3px;
      color: grey;
      text-transform: uppercase;
      font-size: 12px;
}

.left-sidebar {
      left: 60px;
      position: absolute;
      top: 46%;
      transform: translateY(-50%);
      text-align: left;
      width: 26%;
}

.left-sidebar button {
      padding: 24px 48px;
      background: #101010;
      color: #fff;
      outline: none;
      border: none;
      margin: 1em 0;
      font-family: helvetica;
      font-weight: bolder;
      letter-spacing: 4px;
}

.left-sidebar p {
      font-family: helvetica;
      font-weight: lighter;
      line-height: 24px;
      color: grey;
}



.media {
      position: absolute;
      bottom: 40px;
      right: 60px;
}

.media ul {
      list-style: none;
}

.media ul li {
      display: inline-block;
}


.media ul li:not(:last-child) {
      padding-right: 40px;
}